.wrapper {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 1.2rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 1.2rem;
}
